<!DOCTYPE html>
<html>
<head>
    {{ template  "common/header.html" .}}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {{ template "common/navbar.html" . }}
    {{ template "common/menu.html" . }}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table id="table" lay-filter="deploys"></table>
            <script type="text/html" id="bar">
                <a class="layui-btn layui-btn-xs" lay-event="Inject">Inject</a>
            </script>
        </div>
    </div>
    {{ template "common/footer.html" .}}
</div>
<script src="/static/js/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        var $ = layui.$;
        //监听工具条
        table.on('tool(deploys)', function (obj) {
            var data = obj.data;
            if (obj.event === 'Inject') {
                $.ajax({
                    url: 'http://' + MeshServer + '/deploy/inject/' + data.namespace + '/' + data.name + '?now=' + new Date().getTime(),
                    type: 'GET',
                    data: {},
                    dataType: 'json',
                    success: function (data) {
                        //这里获取到数据执行显示
                        table.reload();
                    }
                });


            }
        });
        table.render({
            elem: '#table'
            , height: 'full-100'
            , url: 'http://' + MeshServer + '/deploys' //数据接口
            , page: false //开启分页
            , cols: [[ //表头
                {field: 'namespace', title: 'namespace'},
                {field: 'name', title: 'name'},
                {field: 'ready', title: 'ready',},
                {field: 'meshEnable', title: '服务网格'},
                {title: '操作', toolbar: "#bar"}
            ]]
        });

    });
</script>

</body>
</html>
